.prompter-current {
  flex: 2;
  width: 90%;
  margin: 0 auto;
}

.prompter-current-line {
  font-size: 40pt;
  text-shadow: 2px 2px 1px #0009, 4px 4px 2px #0009;
}

.prompter-context {
  flex: 1;
  font-size: 18pt;
}

.prompter-context-line {
  flex: 2;
  color: var(--ct);
}

.prompter-context-footer-line {
  text-align: right;
  margin-right: 1vmax;
  color: var(--ct);
}

.prompter-progress-bar {
  background-color: var(--d);
  width: 100%;
  height: 2vmin;
}

.prompter-footer {
  display: flex;
  flex: 0.2;
  align-items: flex-end;
}

.prompter-chat {
  display: flex;
  flex-direction: column-reverse;
  font-size: 12pt;
  margin-left: 1vmax;
  text-align: left;
  transition: all 0.2s;
}

.prompter-chat-item {
  animation: chat-bounce 0.2 slideout;
}

@keyframes chat-bounce {
  to {
    transform: scale3d(1.1);
  }
}
