.recorder {
  display: grid;
  background: var(--b);
  height: 100vh;
  justify-content: space-around;
  color: var(--c);
  text-align: center;
}

.recorder-controls {
  margin: auto;
}

.recorder-take .error {
}

.recorder-state {
  background: var(--c);
  border-radius: 50%;
  margin: auto;
  height: 20vmax;
  width: 20vmax;
}
