.author-form {
  width: 60%;
  margin: auto;
}

.form-button {
  font-size: 16pt;
  border: 0;
  border-radius: 1vmin;
}

.form-button:hover {
  background: #aaa;
}

.form-buttons {
  display: flex;
  flex-flow: wrap;
}

.form-buttons button {
  margin: 1%;
  flex-basis: 50%;
  flex: 1 1 auto;
  padding: 4% 4%;
}

.form-add {
  background-color: #181c24aa;
  color: #555;
  margin: 1% auto;
  padding: 1% 4%;
  width: 50%;
}
