.booth {
  color: white;
  background: var(--b);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.booth-interface div:hover {
  color: var(--d);
}

.booth-interface {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booth-interface div {
  border: 1px var(--ct) solid;
  padding: 2% 2%;
  margin: auto;
  border-radius: 1vmin;
  flex: 1;
  cursor: pointer;
}

.booth-button {
  font-size: 220pt;
}

.booth-interface-clicky {
  font-size: 40pt;
  text-align: center;
}
#next {
  text-align: left;
  flex: 1;
  padding-left: 5%;
}
#previous {
  text-align: right;
  flex: 0.5;
  padding-right: 5%;
}

.booth-interface img {
  border: 1px var(--ct) solid;
  filter: invert(100%);
  width: 15%;
  margin: 6vmin 4% 0;
  cursor: pointer;
}
