.admin {
  color: white;
  width: 80%;
  margin: 0 auto;
}

/* HEADERS */

.admin-header {
  display: flex;
  justify-content: space-around;
  background: #fff1;
  padding: 1vmin;
  border-radius: 2vmin 2vmin 0 0;
  margin: 2vmin auto 0;
}

/* BUTTONS */

.admin-buttons {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  background: #0003;
  border-radius: 0 0 2vmin 2vmin;
  padding: 2vmin 0;
  margin: 0 auto 2vmin;
}

.admin-button {
  background: #ccc;
  font-size: 14pt;
  border: 0;
  border-radius: 1vmin;
  margin: 1%;
  width: 10%;
  padding: 2% 2%;
  flex-basis: 30%;
}

.admin-button:hover {
  background: #aaa;
}
