.overlay {
  /* background: none !important; */
  background-image: url('overlay.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;
  font-weight: bold;
  text-shadow: 3px 3px 1px #000e;
  padding: 0;
  height: 1080px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.overlay-part {
  padding: 3% 5%;
  display: flex;
  flex-direction: row;
}

.overlay-part-info {
  font-size: 10pt;
  flex: 0.5;
}

.overlay-current {
  width: 80%;
  margin: 0 5% 12% 0%;
  vertical-align: bottom;
  padding: 1vmin 0;
  text-shadow: 2px 2px 1px #000c, 4px 4px 2px #000a;
}

.overlay-current-line {
  font-size: 40pt;
}
