.creator {
  background-color: var(--b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);

  margin: auto;
  color: white;
}
