@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --a: #0b0c10;
  --b: #1f2833;
  --c: #c5c6c7;
  --ct: #c5c6c733;
  --d: #66fcf1;
  --dt: #66fcf133;
  --e: #45a29e;
  --et: #45a29e33;
}

.system-message {
  animation: flip-in 0.1s reverse;
  transform: scaley(1);
}

@keyframes flip-in {
  to {
    transform: scaley(-1);
  }
}

.recording {
  transition: all 0.2s ease-out;
  animation: record-pulse 1s linear infinite alternate;
}

@keyframes record-pulse {
  from {
    background: hsl(20, 100%, 50%);
  }
  to {
    background: hsl(0, 100%, 50%);
  }
}

.part-info-header {
  padding: 1vmax;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.part-info {
  text-align: center;
  margin: 0 1vmin;
  font-size: 10pt;
  color: var(--ct);
}

.btn {
  background-color: var(--e);
  border: 0;
}

.btn:hover {
  background-color: var(--et);
  border: 0;
}
.btn:active,
.btn:visited {
  background-color: var(--d);
  box-shadow: 0;
  border-color: var(--et);
  border: 0px;
}
.btn:disabled {
  background-color: var(--ct);
  color: var(--ct);
}

body {
  margin: 0;
  font-family: 'Lexend Deca';
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.password {
  color: white;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header,
.admin-panel {
  background-color: var(--b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.messages {
  color: white;
  text-align: center;
}

a {
  color: #09d3ac;
}

a:hover {
  color: #09d3acaa;
}

.error {
  color: red;
}

.creator-form {
  width: 60%;
  margin: auto;
}
